<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>关于我们</title>
	<link rel="stylesheet" href="/static/style/index.css"></link>
</head>
<body>
	<div class="about">
		<div class="header">
			<div class="logo">
				<img src="/static/images/home/logo.png" alt="logo">
			</div>
			<ul class="nav">
				<a href="{:url('website')}">
					<li>首页</li>
				</a>
				<a href="{:url('website/about')}">
					<li class="current">关于我们</li>
				</a>
				<a href="{:url('website/product')}">
					<li>产品展示</li>
				</a>
				<a href="{:url('website/equipment')}">
					<li>设备中心</li>
				</a>
				<a href="{:url('website/certs')}">
					<li>荣誉证书</li>
				</a>
				<a href="{:url('website/contact')}">
					<li>联系我们</li>
				</a>
			</ul>
		</div>
		<div class="banner">
		</div>
		<div class="company">
			<div class="title">公司简介</div>
			<div class="text">
				宁波豪腾电器有限公司成立于2021年，是一家专业生产工业插头插座转换器、有接头电缆、铜制绕组电线的工厂。公司占地面
				积广，人力资源丰富。
				公司拥有世界领先的生产设备和完整的管理体系，有利于公司的进一步发展。目前公司有四条生产线，8台注塑机器，以及专业的插头插座测试机。
			</div>
			<img src="/static/images/about/banner2.png" alt="banner2">
			<div class="text">
				我们的产品也通过了LVD测试、ROHS测试等，获得了许多证书。产品远销海外，广受欧洲市场的欢迎。
				我们致力提供客户优质产品，有竞争力的价格，坚持不断创新。在平等互利的基础上，我们希望同您的公司共同发展。我们期待
				与您的合作。
			</div>
			<div class="circles">
				<div class="circle">优质</div>
				<div class="circle">高效</div>
				<div class="circle">守信</div>
				<div class="circle">创新</div>
			</div>
		</div>
		<div class="foot">
			<div class="info">
				<div class="name">宁波豪勝电器有限公司</div>
				<div class="addr">地址：浙江省慈溪市观海卫镇鸣兴西路166号</div>
			</div>
			<div class="contacts">
				<div class="item">
					<span class="iconfont">&#xed4d;</span>
					<a href="tel:0574-63673030">0574-63673030</a>
				</div>
				<div class="item">
					<span class="iconfont">&#xed41;</span>
					<a href="tel:0574-63672676">0574-63672676</a>
				</div>
				<div class="item">
					<span class="iconfont">&#xed51;</span>
					<a href="mailto:Jenny@hottem.cn">Jenny@hottem.cn</a>
				</div>
				<div class="item">
					<span class="iconfont">&#xed51;</span>
					<a href="mailto:Creek@hottem.cn">Creek@hottem.cn</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>