<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>联系我们</title>
	<link rel="stylesheet" href="/static/style/index.css"></link>
</head>
<body>
	<div class="contact">
		<div class="header">
			<div class="logo">
				<img src="/static/images/home/logo.png" alt="logo">
			</div>
			<ul class="nav">
				<a href="{:url('website')}">
					<li>首页</li>
				</a>
				<a href="{:url('website/about')}">
					<li>关于我们</li>
				</a>
				<a href="{:url('website/product')}">
					<li>产品展示</li>
				</a>
				<a href="{:url('website/equipment')}">
					<li>设备中心</li>
				</a>
				<a href="{:url('website/certs')}">
					<li>荣誉证书</li>
				</a>
				<a href="{:url('website/contact')}">
					<li class="current">联系我们</li>
				</a>
			</ul>
		</div>
		<div class="banner">
		</div>
		<div class="container">
			<div class="map-box">
				<img src="/static/images/contact/map.png" alt="map">
			</div>
			<div class="info-box">
				<img src="/static/images/contact/logo.png" alt="logo">
				<div class="addr">地址：浙江省慈溪市观海卫镇鸣兴西路166号</div>
			</div>
		</div>
		<div class="container">
			<div class="item">
				<div class="iconfont">&#xed4d;</div>
				<a href="tel:+86-574-63673030">TEL:+86-574-63673030</a>
			</div>
			<div class="item">
				<div class="iconfont">&#xed41;</div>
				<a href="tel:+86-574-63672676">FAX:+86-574-63672676</a>
			</div>
			<div class="item">
				<div class="iconfont">&#xed51;</div>
				<div class="mail-row">
					<div>
						E-MAIL:<a href="mailto:Jenny@hottem.cn">Jenny@hottem.cn</a>
					</div>
					<div>
						<a href="mailto:Creek@hottem.cn">Creek@hottem.cn</a>
					</div>
				</div>
			</div>
		</div>
		<div class="foot">
			<div class="info">
				<div class="name">宁波豪勝电器有限公司</div>
				<div class="addr">地址：浙江省慈溪市观海卫镇鸣兴西路166号</div>
			</div>
			<div class="contacts">
				<div class="item">
					<span class="iconfont">&#xed4d;</span>
					<a href="tel:0574-63673030">0574-63673030</a>
				</div>
				<div class="item">
					<span class="iconfont">&#xed41;</span>
					<a href="tel:0574-63672676">0574-63672676</a>
				</div>
				<div class="item">
					<span class="iconfont">&#xed51;</span>
					<a href="mailto:Jenny@hottem.cn">Jenny@hottem.cn</a>
				</div>
				<div class="item">
					<span class="iconfont">&#xed51;</span>
					<a href="mailto:Creek@hottem.cn">Creek@hottem.cn</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>