<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>首页</title>
	<link rel="stylesheet" href="/static/style/index.css"></link>
	<!-- Link Swiper's CSS -->
	<link rel="stylesheet" href="/static/swiper/swiper-bundle.min.css" />
</head>
<body>
<div class="home">
	<div class="banner">
		<div class="header">
			<div class="logo">
				<img src="/static/images/home/logo.png" alt="logo">
			</div>
			<ul class="nav">
				<a href="{:url('website')}">
					<li class="current">首页</li>
				</a>
				<a href="{:url('website/about')}">
					<li>关于我们</li>
				</a>
				<a href="{:url('website/product')}">
					<li>产品展示</li>
				</a>
				<a href="{:url('website/equipment')}">
					<li>设备中心</li>
				</a>
				<a href="{:url('website/certs')}">
					<li>荣誉证书</li>
				</a>
				<a href="{:url('website/contact')}">
					<li>联系我们</li>
				</a>
			</ul>
		</div>
	</div>
	<div class="company">
		<img src="/static/images/home/pic1.png" alt="company">
		<div class="info">
			<div class="title">宁波豪勝电器有限公司</div>
			<div class="text">
				宁波豪腾电器有限公司成立于2021年，是一家专生产工小插头
				插座转换器、有接头电缆、铜制绕组电线的工厂。公司占地面积广
				，人力资源丰富。
				公司拥有世界领先的生产设备和完整的管理体系，有利于公司的进
				一步发展。目前公司有四条生产线，8台注塑机器，以及专业的插
				头插座测试机。
				我们的产品也通过了LVD测试、ROHS测试等，获得了许多证书。
				产品远销海外，广受欧洲市场的欢迎。
				我们致力提供客户优质产品，有竞争力的价格，坚持不断创新
				。在平等互利的基础上，我们希望同您的公司共同发展。我们期待
				与您的合作。
			</div>
			<div class="icons">
				<img src="/static/images/home/lvd.png" alt="lvd">
				<img src="/static/images/home/rohs.png" alt="rohs">
			</div>
		</div>
	</div>
	<div class="certs">
		<div class="title">荣誉证书</div>
		<div class="subtitle">产品也通过了LVD测试、ROHS测试等，远销海外</div>
		<div class="imgs">
<!--			页面只显示前四张-->
			{foreach $certificateList as $certificate}
			<img src="{$certificate['certificate_pic'][0]['url'] | default =''}" style="width: 246px;height: 338px">
			{/foreach}
		</div>
	</div>
	<div class="products" style="position: relative; padding: 0 50px">
		<?php
				$index = count($categorylist);
					?>
		<div class="title">产品系列</div>
		<div class="subtitle">公司产品覆盖十几个系列，满足客户多种需求</div>
		<!-- Swiper -->
		<div class="swiper-container" style="width: 40%;">
			<div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-1190px, 0px, 0px);">
<!--				{for start='0' end='$index'}-->
				{foreach $categorylist as $category}
				<div class="swiper-slide" >
					<div class="product-box">
						<div class="img">
							<img src="{$category.categorypic[0]['url']|default=''}" style="height: 255px;width: 313px;">
						</div>
						<div class="name">{$category.categoryname}</div>
						<div class="btn">
							<a href="{:url('website/product')}">
							查看更多
						</a>
						</div>
					</div>
				</div>
				{/foreach}
<!--				<div class="swiper-slide">-->
<!--					<div class="product-box">-->
<!--						<div class="img">暂无图片</div>-->
<!--						<div class="name">PVC护套线系列</div>-->
<!--						<div class="btn">查看更多</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				{/for}-->
			</div>

		</div>
		<div class="swiper-button-next" style="margin-right: 300px"></div>
		<div class="swiper-button-prev" style="margin-left: 300px"></div>

		<div class="more-btn">更多产品系列</div>
	</div>
	<div class="foot">
		<div class="info">
			<div class="name">宁波豪勝电器有限公司</div>
			<div class="addr">地址：浙江省慈溪市观海卫镇鸣兴西路166号</div>
		</div>
		<div class="contacts">
			<div class="item">
				<span class="iconfont">&#xed4d;</span>
				<a href="tel:0574-63673030">0574-63673030</a>
			</div>
			<div class="item">
				<span class="iconfont">&#xed41;</span>
				<a href="tel:0574-63672676">0574-63672676</a>
			</div>
			<div class="item">
				<span class="iconfont">&#xed51;</span>
				<a href="mailto:Jenny@hottem.cn">Jenny@hottem.cn</a>
			</div>
			<div class="item">
				<span class="iconfont">&#xed51;</span>
				<a href="mailto:Creek@hottem.cn">Creek@hottem.cn</a>
			</div>
		</div>
	</div>
</div>

<!-- Swiper JS -->
<script src="/static/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
	var swiper = new Swiper('.swiper-container', {
		effect:'coverflow',
		grabCursor:true,
		slidesPerView: 1.8,
		spaceBetween: 10,
		centeredSlides: true,
		loop: true,
		coverflowEffect:{
			rotate:0,
			stretch: 100,
			depth:250,
			modifier:1,
			slideShadows:false,
		},
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		}
	});
</script>
</body>
</html>